/* Ensure html and body take up full height */
html, body {
    height: 100%;
    margin: 0;
}

/* Container settings */
.container {
    display: flex;
    min-height: 100%;
}

/* Left Column */
.left-column {
    width: 30%;
    background-color: #f4f4f4;
    padding: 20px;
    box-sizing: border-box;
}

/* Right Column */
.right-column {
    width: 70%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #ffffff; /* Change to your desired color */
}

/* Make both columns stretch to full height */
.left-column, .right-column {
    min-height: 100vh;
}

    .project img {
        margin-left: 0;
        margin-top: 20px;
    }
}
