/* Reset and base styles */
html, body {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #000000; /* Set background to black */
    color: #FFFFFF;       
}

/* Container */
.container {
    display: flex;
    min-height: 100%;
}

/* Left Column */
.left-column {
    width: 30%;
 /*   background-color: #f4f4f4;*/
    padding: 20px;
    box-sizing: border-box;
}

.profile-picture img {
    width: 100%;
    border-radius: 50%;
}

.about-section h2, .about-section h3 {
    margin-top: 0;
}

.about-section ul {
    list-style-type: none;
    padding: 0;
}

.about-section li {
    margin-bottom: 10px;
}

/* Right Column */
.right-column {
    width: 70%;
    padding: 20px;
    box-sizing: border-box;
  /*  background-color: #ffffff; */ /* Change to your desired color */
}

/* Ensure columns stretch full height */
.left-column, .right-column {
    min-height: 100vh;
}

/* Project Styling */
.project {
    margin-bottom: 40px;
}

.project h2 {
    margin-top: 0;
}

.project-content {
    display: flex;
    align-items: flex-start;
}

.project-content p {
    flex: 1;
    margin-right: 20px;
}

.project-content img {
    width: 200px;
    height: auto;
}

/* Responsive Design */
@media (max-width: 800px) {
    .container {
        flex-direction: column;
    }
    .left-column, .right-column {
        width: 100%;
        min-height: auto;
    }
}

@media (max-width: 600px) {
    .project-content {
        flex-direction: column;
    }
    .project-content p {
        margin-right: 0;
        margin-bottom: 20px;
    }
    .project-content img {
        width: 100%;
    }
}
